{% extends 'base.html' %}
{% block body %}


<div class="container">
    <div class="row ">
        {% for i in movie %}
        <div class="col-md-4 mb-5 ">
            <div class="card">
                <img class="card-img-top" src="{{i.img}}" alt="Card image cap"  height="430px" style="object-fit:cover;">
                <div class="card-body">
                    <h5 class="card-title">Name: {{i.name}}</h5>
                    <p class="card-text">Author :{{i.author}}</p>
                    <a href="#" class="btn btn-primary w-100 btn-warning">Buy</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}